body{
    font-family: "Calibri", serif;
}

.connexion{
    display: flex;
}

.englobe{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
}

.container_info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left:20px;
    border: 1px solid black;
    padding: 0 5px;
}


.titrebloc{
    margin: 0;
    padding: 5px;
    text-align:center;
    background-color:blue;
    color:white;
    font-size: 20px;
    width: 100%;
}

.contenu{
    margin-top: 50px;
}


.container_title{
    display: flex;
    justify-content: center;
    margin: 0;
}

.container_title p{
    margin: 0;
    padding: 15px 5px;
    width: 200px;
    text-align: center;
}

.red{
    background-color: #00BFFF;
    color: white;
}

.reder{
    background-color: blue;
    color: white;
}

.grey{
    background-color: #EEE;
}

.greyer{
    background-color: #BBB;
}

form{
    color : grey;
    margin-bottom:50px;
}

#add_patient{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#add_patient div{
    display: flex;
    align-items: center;
}

#connect{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#connect div{
    display: flex;
    align-items: center;
}

#update_patient{
    display: flex;
    justify-content: center;
}

#update_patient div{
    display: flex;
    align-items: center;
}

label{
    display: block;
    width: 70px;
    text-align: end;
}

input{
    margin: 5px;
}

h2{
    text-align:center;
}

#service_list{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#service_list a{
    padding: 5px 10px;
    margin: 5px;
    text-decoration: inherit;
    background-color: #00BFFF;
    color: white;
    border-radius: 30px;
}

#fail{
    text-align: center;
    color: #B0413E;
}